<template>
  <h1>Test</h1>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      genres: []
    }
  },
  mounted () {
    let token= localStorage.getItem('token')
    console.log(token)
    axios.get('http://api-museek.herokuapp.com/genres',{
      headers:{
        Authorization:'Bearer' + token
      }
    })
     .then(response =>{
       console.log("data", response.data)
     })
  }
}
</script>

<style>

</style>
