<template>

    <b-container>
        <b-row>
            <b-col align-self="center">
                <div>
                    <h1>LOGIN</h1>
                </div>
                <b-form inline @keyup.enter="logItIn">
                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                    <b-input v-model="login.email"
						placeholder="Email" label="Email" required class="mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" />
                    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                    <b-input-group left="@" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-input v-model="login.password"
						label="Password"
						type="password"
						required id="inlineFormInputGroupUsername2" placeholder="Username" />
                    </b-input-group>
                    <b-button variant="primary" success @click='logItIn' >Login</b-button>
                    </b-form>
                </b-col>
        </b-row>
    </b-container>
    
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            login:{
                email:"",
                password:""
            }
        }
    },
    methods:{
		logItIn(){
			axios.post('http://api-museek.herokuapp.com/auth/login',this.login)
            .then(response => {
                let token=response.data.auth_token;
                localStorage.setItem('token',token);
                this.$router.push('/hello');   
            });
		}
	}
};
</script>

<style>
</style>
