<template>
    <div>
        <h1>REGISTER</h1>
        <div class="register container">
            <form @submit.prevent="addDaftar">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" v-model="daftar.first_name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" v-model="daftar.last_name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="address" v-model="daftar.address">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" v-model="daftar.email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="telpon" v-model="daftar.tlp">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="password" v-model="daftar.password">
                </div>
                <button class="btn btn-primary"> Simpan </button>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            daftar: {
                first_name: "",
                last_name: "",
                address: "",
                email: "",
                tlp: "",
                password: ""
            }
        }
    },
    methods: {
        addDaftar(first_name, last_name, address, email, tlp, password) {
            let formData = new FormData();
            formData.append("first_name", this.daftar.first_name);
            formData.append("last_name", this.daftar.last_name);
            formData.append("address", this.daftar.address);
            formData.append("email", this.daftar.email);
            formData.append("tlp", this.daftar.tlp);
            formData.append("password", this.daftar.password);

            return axios
                .post("http://api-museek.herokuapp.com/signup", formData)
                .then(response => {
                    console.log(response)
                    alert("You are registered");
                    this.$router.push('/hello');
                })
        }
    }
}
</script>

<style>

</style>
